.news-item {
    margin-right: 20px;
    flex-basis: 25%;
}

.news-image {
    height: 165px;
    overflow: hidden;
    margin-bottom: 7px;
}

.news-image img {
    width: 100%;
    flex-shrink: 0;
}

.news-item:last-child {
    margin-right: 0;
}

p.date {
    color: #919599;
}

.news-header {
    color: #323232;
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
}

.news-header:hover {
    text-decoration: underline;
}